{% extends 'layouts/main.twig' %}

{% block title %}Publish{% endblock %}

{% block content %}
<div class="row justify-content-md-center">
	<div class="col-lg-6">
		{% if user.hasRole('publisher') %}
		<div class="my-5">
			<h2>Create a new post</h2>
		</div>
		<form action="#" method="post" role="form">

			<div class="row">
				<div class="col-md-6 form-group mt-3 mt-md-0">
					<input type="text" class="form-control" name="title" id="title" placeholder="Post Title" required>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 form-group">
					<textarea class="form-control" rows="5" placeholder="Something amazing..."></textarea>
				</div>
			</div>
			<div class="text-center mb-2"><button class="btn btn-primary form-control" type="submit">Publish</button></div>
		</form>
		{% endif %}

		<div class="my-5">
			<h3>Publishing access</h3>
			<form action="{{ path_for('role-manage', {'name': 'publisher'}) }}" method="post" role="form">
				{% if user.hasRole('publisher') %}
					<div class="mb-2">Tired of posting?<br />You can give up your publishing permissions and switch to reading instead</div>
					<input type="hidden" name="action" value="revoke">
					<button class="btn btn-danger" type="submit">Revoke Publishing Rights</button>
				{% else %}
					<div class="mb-2">Do you have something to share?<br />You can join our crew of esteemed publishers by simply clicking the button below!</div>
					<input type="hidden" name="action" value="apply">
					<button class="btn btn-success form-control" type="submit">Request Publishing Rights</button>
				{% endif %}

				{% include 'layouts/components/partials/form-error.twig' %}
			</form>
		</div>
	</div>
</div>
{% endblock %}
