{% extends 'layouts/main.twig' %}

{% block title %}Publish{% endblock %}

{% block content %}
<div class="row justify-content-md-center">
	<div class="col-lg-6">
		{% if user.hasRole('publisher') %}
			<div class="my-5">
				<h2>Create a new post</h2>
			</div>

			{% include 'publishing/components/post-edit-form.twig' %}
		{% endif %}

		<div class="my-5">
			<h3>Publishing access</h3>
			<form action="{{ path_for('role-manage', {'name': 'publisher'}) }}" method="post" role="form">
				{% if user.hasRole('publisher') %}
					<div class="mb-2">Tired of posting?<br />You can give up your publishing permissions and switch to reading instead</div>
					<input type="hidden" name="action" value="revoke">
					<button class="btn btn-danger" type="submit">Revoke Publishing Rights</button>
				{% else %}
					<div class="mb-2">Do you have something to share?<br />You can join our crew of esteemed publishers by simply clicking the button below!</div>
					<input type="hidden" name="action" value="apply">
					<button class="btn btn-success form-control" type="submit">Request Publishing Rights</button>
				{% endif %}
			</form>
		</div>
	</div>
</div>
{% endblock %}
