<?php

// Environment configuration template

return [
	'app' => [
		'displayErrorDetails' => true,
	],
	'logger' => [
		// 'path' => __DIR__ . '/logs/app.log',
	],
	'database' => [
		'username'  => 'root',
		'password'  => '',
	],
	'view' => [
		// 'template_path' => __DIR__ . '/resources/views',
		'twig' => [
			'cache' => false,
		],
	],
];
